@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Raindish where you can collect your overflowing creativity into a pool.</a>.</p>

    <button><a class="navbar-brand" asp-area="" asp-page="/Songs/Index">Song Repository</a> </button>
</div>
